:root {
  --red: #ab0d0d;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

h1,
h3 {
  font-family: "Oswald", sans-serif;
}

*::selection {
  background: var(--red);
  color: #fff;
}

p {
  margin-bottom: 0 !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  /* height:200rem; */
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
}

/* section {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 8.5rem;
} */

.btn-round {
  width: fit-content;
  font-size: 1.7rem;
  padding: 0.7rem 4rem;
  border-radius: 5rem;
  margin-top: 1rem;
  background: none;
  color: #fff;
  cursor: pointer;
  background: var(--red);
  border: 0.2rem solid var(--red);
}

.btn-round:hover {
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  z-index: 1;
  background: transparent !important;
  padding: 1.5rem 6%;
  /* box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1); */
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 3rem;
}

header .navbar ul li a {
  font-size: 1.7rem !important;
  color: #171717;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--red);
}

header #menu-bar {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  display: none;
}

.home {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
}
#myVideo {
  width: 100%;
}

.home h1 {
  font-size: 3.5rem;
  color: #fff;
}

.home .subheading {
  font-size: 1.6rem;
  color: #fff;
}

.home .card-right {
  border-radius: 5px !important;
  border-radius: 5px !important;
  background-color: rgb(36 27 30 / 27%);
  border: none;
  color: #fff;
  width: 30rem;
  float: right;
  padding: 10px 20px;
  color: #fff;
  float: right;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
}

.home .card-right .card-title {
  font-size: 1.8rem;
}

.home .card-right .card-text {
  font-size: 1.5rem;
}

.home .card-left {
  border: none !important;
}

.home .card-left .card-body {
  padding: 0 !important;
}
.home .card-left p {
  font-size: 1rem;
  width: 100px;
  margin-left: 8px;
}

.home .card-left p span {
  font-size: 1.5rem;
}
.home .icon {
  color: #000;
  font-size: 3rem;
  padding: 10px;
  background: #dae0e5;
}

/* .banner-area{
  position: relative;
  background-image: url('/images/water-slider-img-1.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .home::before,
  .home::after {
    display: none;
  }
}

@media (max-width: 768px) {
  header #menu-bar {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background: var(--red);
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    margin: 1.5rem;
    width: 100%;
  }

  header .navbar ul li a {
    display: block;
    color: #fff;
    padding-left: 2rem;
    border-left: 0.2rem solid #fff;
    font-size: 2rem;
  }

  header .navbar ul li a:hover,
  header .navbar ul li a.active {
    color: #333;
    border-color: #333;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .order .row .image {
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 1rem 5%;
    padding-top: 8.5rem;
  }
}
