:root {
  --red: #ab0d0d;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

h1,
h3 {
  font-family: "Oswald", sans-serif;
}

*::selection {
  background: var(--red);
  color: #fff;
}

p {
  margin-bottom: 0 !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  max-width: 1196px !important;
}



html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
}

/* section {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 8.5rem;
} */

.btn-round {
  width: fit-content;
  font-size: 1.4rem;
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  margin-top: 1rem;
  background: none;
  color: #fff;
  cursor: pointer;
  background: var(--red);
  text-transform: capitalize;
  border: 0.2rem solid var(--red);
}

.arrow {
  color: #fff;
  margin: 1em 0;
}
.arrow::after {
  display: inline-block;
  padding-left: 8px;
  content: "➞";
  transition: transform 0.3s ease-out;
}
.arrow:hover::after {
  transform: translateX(4px);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.marginTop16 {
  margin-top: 16px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  z-index: 1;
  background: transparent;
  padding: 1.5rem 6%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 3rem;
}

.navbarmenu {
  font-size: 1.7rem !important;
  color: #171717;
}

/* //on scrolled  */
.scrolled {
  background-color: #000;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
}
.scroolled_menu {
  color: #fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--red);
  text-decoration: none !important;
}

header #menu-bar {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  display: none;
}

.home {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
}

.overlay {
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  background-color: rgb(36 27 30 / 67%);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
#myVideo {
  width: 100%;
}

.home h1 {
  font-size: 55px;
  color: #fff;
}

.home .subheading {
  font-size: 1.6rem;
  color: #fff;
}

.home .card-right {
  border-radius: 5px !important;
  border-radius: 5px !important;
  background-color: rgb(36 27 30 / 27%);
  border: none;
  color: #fff;
  width: 30rem;
  float: right;
  padding: 10px 20px;
  color: #fff;
  float: right;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
}

.home .card-right .card-title {
  font-size: 1.8rem;
}

.home .card-right .card-text {
  font-size: 1.5rem;
}

.home .card-left {
  border: none !important;
  transition: all 0.3 ease-in-out;
}

.home .card-left:hover {
  margin-top: -8px;
  cursor: pointer;
}

.home .card-left .card-body {
  padding: 0 !important;
}

.home .card-left p {
  font-size: 1rem;
  width: 100px;
  margin-left: 8px;
}

.home .card-left p span {
  font-size: 1.5rem;
}
.home .icon {
  color: #000;
  font-size: 3rem;
  padding: 10px;
  background: #dae0e5;
}

.each-section-top {
  margin-top: 100px;
}

.section-heading {
  font-size: 50px;
  color: #171717;
}

.section-subheding {
  font-size: 18px;
  color: var(--red);
  text-transform: uppercase;
}

.section-paragraph {
  font-size: 16px;
  line-height: 1.625em;
}

.divider {
  border-top: 2px solid var(--red);
  width: 30%;
}

.inner-back {
  margin-top: 100px;
}

.overlay-illustraion {
  background-image: url("../images/design.png");
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 1;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}

.testimonial {
  text-align: center;
  padding: 50px 30px 30px 30px;
  margin: 70px 15px 35px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
  position: relative;
}

.testimonial .pic img {
  width: 99px !important;
  height: 99px;
  display: inline-block !important;
  border-radius: 50%;
  border: 5px solid #e4e4e4;
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  margin: auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.testimonial .description {
  font-size: 15px;
  color: #757575;
  line-height: 27px;
  margin-bottom: 20px;
  position: relative;
}

.testimonial .testimonial-profile {
  position: relative;
  margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--red);
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
.carousel-item {
  height: 350px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #adadad;
  border: 5px solid #e4e4e4;
}
.carousel-indicators {
  bottom: -80px;
}

.carousel-indicators li.active {
  color: #fff;
  background: #72c02c;
  border: 5px double;
}

/* whyus */

.whyus {
  margin-top: 100px;
}

.whyus .circle {
  width: fit-content;
  padding: 32px 32px 32px 32px;
  background-color: #fff;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 4px 50px 0px rgb(0 0 0 / 15%);
  margin-top: -120px;
  margin-bottom: 20px;
}

.whyus .inner-div {
  padding: 55px;
  margin: 16px;
  background: #eff4f9;
  /* margin: -68px 0px 0px 0px; */
}

.whyus .inner-div h3 {
  font-size: 2.4rem;
}

.whyus .inner-div p {
  font-size: 1.4rem;
  line-height: 1.625em;
}

/* footer */

.footer {
  height: 400px;
  background: #000;
}

.logo.is-animetion {
  margin-top: 0.6em;
}

.logo.is-animetion span {
  display: inline-block;
  font-size: 7rem;
  color: #fff;
  -webkit-animation: wave-text 1s ease-in-out infinite;
  animation: wave-text 1s ease-in-out infinite;
}

.logo.is-animetion span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.logo.is-animetion span:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.logo.is-animetion span:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.logo.is-animetion span:nth-of-type(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.logo.is-animetion span:nth-of-type(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.logo.is-animetion span:nth-of-type(6) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.5s;
}
.logo.is-animetion span:nth-of-type(7) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.6s;
}
.logo.is-animetion span:nth-of-type(8) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.7s;
}
.logo.is-animetion span:nth-of-type(9) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.8s;
}

@-webkit-keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

/* home upper card */

.cardbody {
  box-shadow: 0px 4px 50px 0px rgb(0 0 0 / 15%);
  /* transition:  0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
  margin: 20px 20px 30px 20px;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  padding: 26px 25px 0px 25px;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-top: -109px;
  border-radius: 16px;
}

.cardbody h4 {
  font-size: 2.4rem;
  margin: 0;
  margin-left: 8px;
}
.cardbody p {
  font-size: 1.4rem;
}

.cardbody .truck-icon {
  font-size: 3rem;
}

/* .banner-area{
  position: relative;
  background-image: url('/images/water-slider-img-1.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* media queries  */

@media only screen and  (max-width: 1330px) {

  .home h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  header #menu-bar {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background: var(--red);
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    margin: 1.5rem;
    width: 100%;
  }

  header .navbar ul li a {
    display: block;
    color: #fff;
    padding-left: 2rem;
    border-left: 0.2rem solid #fff;
    font-size: 2rem;
  }

  header .navbar ul li a:hover,
  header .navbar ul li a.active {
    color: #333;
    border-color: #333;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .order .row .image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: auto;
  }

  .home h1 {
    font-size: 45px;
  }

  .home .card-left {
    width: 123px;
    border:1px solid red;
    margin: 4px;
  }
}
